<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
  <typeAliases> 
    <package name="com.lw.enity"/> 
  </typeAliases>
 <mappers>
 <mapper resource="com/lw/mapper/userMapper.xml"/>
 <mapper resource="com/lw/mapper/goodsMapper.xml"/> 
  <mapper resource="com/lw/mapper/mycartMapper.xml"/>
 </mappers>
</configuration>